---
import { Content as ContenidoEspecial } from "../content/lmsgi/XQuery/XQuery_Resumen.md";
import Base from "../layout/base.astro";
---

<Base>
      <nav><a href="index.html">← Volver al índice</a></nav>
     <ContenidoEspecial />
</Base>
