---
import { Content as ContenidoSolucion } from "../../content/lmsgi/HTML/Soluciones/html-solucion-examen-2026-febrero.mdx";
import Base from "../../layout/base.astro";
---

<Base>
    <nav><a href="../index.html">← Volver al índice</a></nav>
    <ContenidoSolucion />
</Base>