---
import { Content as ContenidoEjercicio } from "../../content/lmsgi/XSD/ejercicios/enunciados_minimax/ejercicio1_biblioteca_enunciado.md";
import bibliotecaXml from "../../content/lmsgi/XSD/ejercicios/biblioteca_libros.xml?raw";
import XmlCodeSnippet from "../../components/XmlCodeSnippet.astro";
import Base from "../../layout/base.astro";
---

<Base>
    <nav><a href="../index.html">← Volver al índice</a></nav>
    <ContenidoEjercicio />
    <XmlCodeSnippet xml={bibliotecaXml} />
</Base>