---
import { Content as ContenidoEjercicio } from "../../../content/lmsgi/XQuery/ejercicios/enunciados/anselmo_discos.md";
import anselmoDiscosXml from "../../../content/lmsgi/XQuery/ejercicios/anselmo_discos.xml?raw";
import XmlCodeSnippet from "../../../components/XmlCodeSnippet.astro";
import Base from "../../../layout/base.astro";
---

<Base>
    <nav><a href="../../index.html">← Volver al índice</a></nav>
    <ContenidoEjercicio />
    <XmlCodeSnippet xml={anselmoDiscosXml} />
</Base>
