---
import { Content as ContenidoEjercicio } from "../../../content/lmsgi/XQuery/ejercicios/enunciados/hotel_reservas.md";
import hotelXml from "../../../content/lmsgi/XQuery/ejercicios/hotel_reservas.xml?raw";
import XmlCodeSnippet from "../../../components/XmlCodeSnippet.astro";
import Base from "../../../layout/base.astro";
---

<Base>
    <nav><a href="../../index.html">← Volver al índice</a></nav>
    <ContenidoEjercicio />
    <XmlCodeSnippet xml={hotelXml} />
</Base>
